.article {
    background-color: white;
    width: 938px;
    height: 140px;
    margin: 26px auto 26px;
    box-shadow: 0 4px 12px #00000026;
    padding: 15px 16px 15px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title-likes {
        display: flex;
    }

    &__label {
        display: flex;
        gap: 2px;
    }

    &__count-chek {
        margin-top: 2px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 28px;
        margin-right: 13px;
        color: #1890ff;
    }

    &__count-chek {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0;
    }

    &__autor {
        margin: 0;
    }

    &__right-side {
        display: flex;
        align-items: center;
    }

    &__genres_tags {
        border: 1px solid #717171;
        border-radius: 2px;
        padding: 2px 5px;
        color: #393939;
        font-size: 12px;
        margin-right: 6px;
    }

    &__description {
        margin-top: 8px;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0;
        color: #393939;
        width: 682px;
    }

    &__autor-date {
        margin-right: 12px;
    }

    &__autor {
        font-size: 18px;
        line-height: 28px;
    }

    &__date {
        font-size: 12px;
        line-height: 22px;
        color: #717171;
    }

    &__img {
        border-radius: 50%;
    }

    &__checkbox {
        appearance: none;
        height: 16px;
        content: url('../../assets/icons/heart.svg');
        margin-left: 13px;
        transform: translate(0px, 2px);
        margin-top: 3px;
        margin-right: 4px;
    }

    &__checkbox:checked {
        content: url('../../assets/icons/red_heart.svg');
    }

    &__body {
        position: relative;
        background-color: #fff;
        margin-top: 35px;
        width: 930px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        font-size: 16px;
        right: 16px;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0 4px 12px #00000026;
    }
}
