.articleList {
    &__pagination {
        justify-content: center;
        margin-bottom: 30px;
    }

    &__loader {
        position: absolute;
        left: 50%;
        top: 100px;
        z-index: 999999;
    }

    &__error {
        width: 400px;
        margin: 20px auto 0;
    }

    :global {
        .ant-pagination {
            &-item-active {
                background: #1890ff !important;

                a,
                &:link a,
                &:visited a,
                &:hover a,
                &:focus a {
                    color: #ffffff !important;
                }
            }
        }
    }
}
