@use "@/styles/variables" as *;

.articleList {
    &Pagination {
        justify-content: center;
        margin-bottom: 30px;
    }

    :global {
        .ant-pagination {
            &-item-active {
                background: $color-primary !important;

                a,
                &:link a,
                &:visited a,
                &:hover a,
                &:focus a {
                    color: $color-white !important;
                }
            }
        }
    }
}
