@use "@/styles/variables" as *;

.sign {
    background-color: $color-white;
    width: 384px;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 22px 106px rgba(186, 186, 186, 0.5);
    margin: 59px auto 0;
    padding: 42px 32px;

    .title {
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 25px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .button {
        border: none;
        background-color: $color-primary;
        color: $color-white;
        border-radius: 4px;
        height: 40px;
        margin-top: 20px;
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .question {
        text-align: center;
        color: $color-text-secondary;
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
    }

    .link {
        color: $color-primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
