@use './variables' as *;


body {
    font-family: $font-family;
    background-color: $color-background;
    margin: 0;
}

a {
    text-decoration: none;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}