.header {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-inline: 22px;

    &__title {
        margin: 0;
        font-size: 18px;
        line-height: 28px;
        color: black;
    }

    &__sign-in-btn {
        color: black;
        border: none;
        background-color: white;
        font-size: 18px;
        line-height: 28px;
        cursor: pointer;
    }

    &__sign-up-btn {
        color: #52c41a;
        border: 1px solid #52c41a;
        background-color: white;
        font-size: 18px;
        line-height: 28px;
        border-radius: 5px;
        padding: 10px 18px;
        margin-left: 19px;
        cursor: pointer;
    }
}
